/* 基础字体 */
@font-face {
    font-family: 'NotoSans Plugin';
    src: url('../plugins/siyuan-ttf-Noto_Sans/fonts/NotoSans-VariableFont_wdth,wght.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 基础斜体 */
@font-face {
    font-family: 'NotoSans Plugin';
    src: url('../plugins/siyuan-ttf-Noto_Sans/fonts/NotoSans-Italic-VariableFont_wdth,wght.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* 简体中文 */
@font-face {
    font-family: 'NotoSans SC Plugin';
    src: url('../plugins/siyuan-ttf-Noto_Sans/fonts/NotoSansSC-VariableFont_wght.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 繁体中文 */
@font-face {
    font-family: 'NotoSans TC Plugin';
    src: url('../plugins/siyuan-ttf-Noto_Sans/fonts/NotoSansTC-VariableFont_wght.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 日语 */
@font-face {
    font-family: 'NotoSans JP Plugin';
    src: url('../plugins/siyuan-ttf-Noto_Sans/fonts/NotoSansJP-VariableFont_wght.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 2025/10/30 跟进官方自带 --b3-font-family 变量，去掉一些字体 */
:root {
    --b3-font-family: 'Noto Sans', 'NotoSans Plugin', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'Luxi Sans', 'DejaVu Sans', arial, sans-serif, emojis !important;
}

:root:lang(zh_CN) {
    --b3-font-family: 'Noto Sans SC', 'Noto Sans CJK SC', 'Noto Sans', 'NotoSans SC Plugin', 'NotoSans Plugin', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'PingFang SC', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB', 'Source Han Sans SC', arial, 'Microsoft Yahei', sans-serif, emojis !important;
}

:root:lang(zh_CHT) {
    --b3-font-family: 'Noto Sans TC', 'Noto Sans CJK TC', 'Noto Sans', 'NotoSans TC Plugin', 'NotoSans Plugin', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'PingFang TC', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans TC', 'Source Han Sans TC', 'Microsoft JhengHei', arial, sans-serif, emojis !important;
}

:root:lang(ja_JP) {
    --b3-font-family: 'Noto Sans JP', 'Noto Sans CJK JP', 'Noto Sans', 'NotoSans JP Plugin', 'NotoSans Plugin', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'Luxi Sans', 'DejaVu Sans', 'Yu Gothic UI', arial, sans-serif, emojis !important;
}
