name: Create Release on Push Package.json

on:
  push:
    paths: 'plugin.json'
  workflow_dispatch:

jobs:
  package:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Package
        run: zip -r package.zip . -i 'index.*' 'style.css' 'font-face.css' 'icon.png' 'preview.png' 'plugin.json' 'README*.md' 'fonts/*'

      - name: Get version
        uses: sergeysova/jq-action@v2
        id: version
        with:
          cmd: 'jq -r ".version" plugin.json'

      - name: Generate release description
        run: |
          conventional-changelog -i release.md -s -n conventional-changelog.config.json -k plugin.json -c plugin.json
          prettier -w release.md

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: package.zip
          name: Release ${{ steps.version.outputs.value }}
          tag_name: ${{ steps.version.outputs.value }}
          make_latest: true
          body_path: release.md
